body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    background-image: url(background5.jpg);
}
.order-box{
    width: 400px;
    background-color:#e9670a;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-color: #ccc;
    border-radius: 3px;
    transition: box-shadow 0.3s ease;

}
.order-box:hover{ 
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    background-color: #020202;
    color: #ffffff; 

} 

h1{
    text-align: center;
    padding: top 20px;
    font-weight: bold;
}
h4{
    text-align: center;
    font-weight: bold;
}
form{
    width: 350px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 350px;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]
{
    width: 350px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: green;
}

p{
    text-align:center;
    padding: 2px;
    font-size: 15px;
}
.pera-2 a{
    color: blue;
    cursor: pointer;
}
header{
    position: absolute;
    top: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 40px;
    color: rgb(0, 0, 0);
}

