body {
    margin: 0px;
    font-family: Montserrat;
    padding-bottom: 200px;
}
.header {
    height: 300px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(69, 69, 69);
    background-image: url('/imageSihab/cover.jpg');
    object-fit: cover;
}
.upper-header {
    display: flex;
    flex-direction: row;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}
.upper-header-left {
    padding-left: 30px;
}
.upper-header-middle {
    margin-left: -500px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
}
.upper-header-middle p {
    margin-left: 50px;
    margin-right: 50px;
}
.upper-header-right {
    padding-right: 60px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
}
.lower-header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-header-start {
    cursor: pointer;
    color: white;
    font-family: Poetsen One, sans-serif;
    font-size: 60px;
    transition: color 0.15s;
}
.lower-header-start:hover {
    color: rgb(255, 165, 89);
}
.lower-header-end {
    margin-top: -50px;
    color: rgb(196, 195, 195);
    font-size: 14px;
}
.upper-header-middle p, .upper-header-right img, 
.upper-header-right p {
    cursor: pointer;
    transition: color 0.15s;
}
.upper-header-middle p:hover, .upper-header-right p:hover {
    color: rgb(255, 165, 89);
}
.body-part {
    padding-right: 200px;
    padding-left: 200px;
    background-color: rgb(216, 216, 216);
    padding-bottom: 100px;
}
.searchbar-restaurant {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    padding-left: 20px;
    width: 84%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(196, 195, 195);
    font-family: Montserrat;
    box-shadow: none;
}
.searchbar-restaurant::placeholder {
    font-family: Montserrat;
}
.search-button {
    cursor: pointer;
    height: 42px;
    border-radius: 20px;
    width: 10%;
    border: none;
    background-color: grey;
    color: white;
    font-family: Montserrat;
    transition: opacity 0.15s;
}
.search-button:hover {
    background-color: rgb(255, 96, 0);
}
.search-button:active {
    opacity: 0.5;
}
.restaurant-detail {
    margin-top: 30px;
    margin-left: 40px;
    padding: 15px 40px 15px 40px;
    display: grid;
    grid-template-columns: 280px 1fr;
    column-gap: 40px;
    row-gap: 20px;
    border: 2px solid rgb(196, 195, 195);
    border-radius: 10px;
    background-color: white;
}
.grid-image {
    width: 280px;
}
.restaurant-title {
    cursor: pointer;
    font-family: Poetsen One, sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 600px;
    font-size: 40px;
    color: black;
    font-weight: 500;
    transition: color 0.15s;
}
.restaurant-title:hover {
    color: rgb(255, 165, 89);
}
.restaurant-description {
    font-family: Montserrat;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 700px;
    font-size: 16px;
    color: black;
    line-height: 25px;
}
.restaurant-address {
    font-family: Montserrat;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 700px;
    font-size: 16px;
    color: black;
    line-height: 25px;
}